//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-select-border: #ccc;
$height-select-input: 30px;
$color-hover: #eee;
$color-selected-item: #5a5959;

@mixin txtPos {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.select {
  position: relative;
  z-index: 100;
  width: 160px;
  line-height: 25px;
  border-radius: 2px;
  border: 1px solid #bbb;
  color: #fff;
  display: flex;
  align-items: center;


  &__backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    min-height: 100%;
    overflow: hidden;
  }


  &.open {
    .select__dropdown {
      display: block;
    }

    .select__input {
      border-bottom: none;
    }

    .select__backdrop {
      display: block;
    }
  }

  &__input {
    //border: 1px solid $color-select-border;
    height: $height-select-input;
    width: 100%;
    //border-radius: 5px;
    cursor: pointer;
    //===================
    @include txtPos;
    //===================
    justify-content: space-between;

    &_text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }


  &__dropdown {
    position: absolute;
    //top: 0;
    left: 0;
    right: 0;
    //top: $height-select-input;
    //==========================
    max-height: 200px;
    width: 160px;
    overflow-y: auto;
    border: 1px solid $color-select-border;
    box-shadow: 2px 3px 5px rgba(0,0,0,.3);
    //=================
    display: none;
    //=================
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #383636;


    &_item {
      padding: 1rem;
      outline: none;
      border-bottom: 1px solid $color-select-border;

      &.selected {
        background-color: $color-selected-item;
        //color: #fff;
      }

      &:hover {
        background-color: $color-hover;
        cursor: pointer;
        transition: .15s background-color ease-in;
        color: #000;
      }
    }

  }

}